$colorTextDefault: #000000;
$esColorNavBarText: #ffffff;
$esColorBackgroundAlt2Lighten20: #333333;
$esColorNavBarSecondary: #cb2b19;
$colorBrandPrimaryLighten20: #333333;
$esColorBackgroundAlt2Darken20: #000000;
$colorBrandPrimaryLighten40: #666666;
$fontFamily: "Salesforce Sans";
$sidebarHeight: 545px;
$colorBrandPrimaryLighten60: #999999;
$esColorBackgroundAlt2Lighten60: #999999;
$esColorBackgroundAlt2Lighten40: #666666;
$esColorBackgroundAlt2Darken60: #000000;
$esColorBackgroundAlt2Darken40: #000000;
$colorTextDefaultLighten20: #333333;
$colorTextDefaultLighten60: #999999;
$colorTextDefaultLighten40: #666666;
$colorBrandSecondaryLighten60: #999999;
$colorBrandSecondaryDarken20: #000000;
$colorBrandSecondaryLighten40: #666666;
$colorBrandSecondaryDarken40: #000000;
$colorBrandSecondaryLighten20: #333333;
$colorBrandSecondaryDarken60: #000000;
$colorBrandPrimaryDarken20: #000000;
$colorBrandPrimary: #000000;
$colorBrandPrimaryDarken40: #000000;
$colorBrandSecondary: #000000;
$sidebarWidth: 350px;
$colorTextDefaultDarken60: #000000;
$colorBrandSecondaryLuminance4: #313131;
$colorBrandSecondaryLuminance5: #1a1a1a;
$colorBrandSecondaryLuminance6: #000000;
$esColorBackgroundAlt2: #000000;
$colorBrandPrimaryDarken60: #000000;
$colorTextDefaultDarken20: #000000;
$colorBrandSecondaryLuminance0: #000000;
$colorBrandSecondaryLuminance1: #6a6a6a;
$colorTextDefaultDarken40: #000000;
$colorBrandSecondaryLuminance2: #595959;
$colorBrandSecondaryLuminance3: #464646;

$primary-font: "proxima-nova",Arial,sans-serif;
$secondary-font: "arquitecta",Arial,sans-serif;
$primary: #000;
$charcoal: #242424;
$mine: #3b3b3b;
$chicago: #636363;
$dawn: #a3a3a3;
$alto: #ccc;
$mercury: #e1e1e1;
$smoke: #f2f2f2;
$white: #fff;
$highlight-light: #f1e8dd;
$highlight-main: #ceb18f;
$highlight-medium: #ceb18f;
$highlight-dark: #826646;
$alert-light: #e7cccf;
$alert-main: #b00020;
$alert-medium: #b00020;
$alert-dark: #740031;
$success-light: #d8e1d5;
$success-main: #ceb18f;
$success-medium: #ceb18f;
$success-dark: #3c4b37;
$accent-light: #d7ddeb;
$accent-main: #7183b0;
$accent-medium: #7183b0;
$accent-dark: #384669;
$gray-2-light: #e1e1e1;

$swiper-theme-color: #007aff;