.header {

    &__container {
        position: sticky;
        display: flex;
        align-items: center;
        padding: 7px 20px;

        & svg {
            width: 27px;
            margin-right: 58px;
        }

        &--logo {
            font-size: 28px;
            font-weight: 100;

            & span {
                font-size: 40px;
                font-weight: 700;
            }
        }
    }
}