.header {
  position: sticky;
  top: 0px;
  z-index: 1002;
  height: 90px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 6%) 0px 4px 8px, rgb(35 41 54 / 14%) 0px 12px 32px;
  padding-left: 19px;
  padding-right: 50px;
  transition: background 0.25s ease-in-out 0s;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;

    // & svg {
    //   width: 27px;
    //   margin-right: 58px;
    // }

    &--logo {
      font-family: sans-serif;
      font-size: 40px;
      font-weight: 100;
      margin: 0 0 -24px -20px;

      & span {
        font-size: 40px;
        font-weight: 800;
      }
    }

    & .nav-choice {
      margin-top: 10px;
      width: 250px;
      display: flex;
      justify-content: space-between;
      // background-color: red;
      align-items: center;

      & div {
        width: 65px;
        justify-content: center;
        // background: darkcyan;

        & svg {
          width: 24px;
        }

        & p {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          padding: 5px 0 0 0;
          margin-left: -12px;
        }

        & .shop {
          margin-left: -3px; 
        }
      }
    }

    &--btn {
      margin-bottom: -15px;
      padding: 6px 10px;
      background: none;
      cursor: pointer;
      font-family: sans-serif;
      font-weight: 500;
    }
  }
}
